<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#schedule">
    <span class="glyphicon glyphicon-calendar"></span>
</button>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="schedule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="scheduletitle">Weekly Schedule</h4>
      </div>
      <div class="modal-body modal-lg">
          
          
          
        <table class="calendar table table-bordered">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th width="14%">Sunday</th>
                    <th width="14%">Monday</th>
                    <th width="14%">Tuesday</th>
                    <th width="14%">Wednesday</th>
                    <th width="14%">Thursday</th>
                    <th width="14%">Friday</th>
                    <th width="14%">Saturday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>08:00</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>08:30</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>09:00</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>09:30</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>10:00</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>10:30</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>11:00</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                               
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>11:30</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>12:00</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>12:30</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>13:00</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                </tr>
                <tr>
                    <td>13:30</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>14:00</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>14:30</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>15:00</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>15:30</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>16:00</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>16:30</td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>17:00</td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>17:30</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>18:00</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>18:30</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>19:00</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
                <tr>
                    <td>19:30</td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
        
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
                    
                    <td class=" no-events" rowspan="1"></td>
        
                </tr>
            </tbody>
        </table>
          
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>















