<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Menu -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    
    <!-- Items -->
    <div class="carousel-inner">
        <div class="active item">
            <img src="https://www.sfu.ca/content/sfu/mecs/facilities/sfu-burnaby-campus/about-this-campus/_jcr_content/main_content/image_1.img.jpg/1390344981628.jpg" alt="Slide 1" />
        </div>
        <div class="item">
            <img src="http://www.abbarch.com/wp-content/uploads/2014/10/SFU-Surrey-Campus-RD_20070629_0747.jpg" alt="Slide 2" />
        </div>
        <div class="item">
            <img src="http://www.abbarch.com/wp-content/uploads/2014/10/SFU-Surrey-Campus-RD_20070629_0668.jpg" alt="Slide 3" />
        </div>
    </div> 
    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

