
<select id = "semester" form = "searchform">
  <option value = "Summer 2014">Summer 2014</option>
  <option value = "Fall 2014" >Fall 2014</option>
  <option value = "Spring 2015" >Spring 2015</option>
  <option value = "Summer 2015" >Summer 2015</option>
  <option value = "Fall 2015" >Fall 2015</option>
  <option value = "Spring 2016">Spring 2016</option>
  <option value = "Summer 2016">Summer 2016</option>
  
</select>

<select id = "department" form = "searchform">
  <option value = "ACMA" >ACMA</option>
  <option value = "ALS" >ALS</option>
  <option value = "APMA" >APMA</option>
  <option value = "ARCH" >ARCH</option>
  <option value = "ASC" >ASC</option>
  <option value = "BISC" >BISC</option>
  <option value = "BPK" >BPK</option>
  <option value = "BUEC" >BUEC</option>
  <option value = "BUS" >BUS</option>
  <option value = "CHEM" >CHEM</option>
  <option value = "CHIN" >CHIN</option>
  <option value = "CMNS" >CMNS</option>
  <option value = "CMPT" >CMPT</option>
  <option value = "COGS" >COGS</option>
  <option value = "CRIM" >CRIM</option>
  <option value = "DEVS" >DEVS</option>
  <option value = "DIAL" >DIAL</option>
  <option value = "DMED" >DMED</option>
  <option value = "EASC" >EASC</option>
  <option value = "ECO" >ECO</option>
  <option value = "ECON" >ECON</option>
  <option value = "EDPR" >EDPR</option>
  <option value = "EDUC" >EDUC</option>
  <option value = "ENGL" >ENGL</option>
  <option value = "ENSC" >ENSC</option>
  <option vlaue = "ENV" >ENV</option>
  <option value = "EVSC" >EVSC</option>
  <option value = "FAL" >FAL</option>
  <option value = "FAN" >FAN</option>
  <option value = "FEP" >FEP</option>
  <option value = "FNLG" >FNLG</option>
  <option value = "FNST" >FNST</option>
  <option value = "FPA" >FPA</option>
  <option value = "FREN" >FREN</option>
  <option value = "GEOG" >GEOG</option>
  <option value = "GERM" >GERM</option>
  <option value = "GERO" >GERO</option>
  <option value = "GRAD" >GRAD</option>
  <option value = "GRK" >GRK</option>
  <option value = "GSWS" >GSWS</option>
  <option value = "HIST" >HIST</option>
  <option value = "HS" >HS</option>
  <option value = "HSCI" >HSCI</option>
  <option value = "HUM" >HUM</option>
  <option value = "IAT" >IAT</option>
  <option value = "IS" >IS</option>
  <option value = "ITAL" >ITAL</option>
  <option value = "JAPN" >JAPN</option>
  <option value = "LAS" >LAS</option>
  <option value = "LBRL" >LBRL</option>
  <option value = "LBST" >LBST</option>
  <option value = "LING" >LING</option>
  <option value = "LS" >LS</option>
  <option value = "MACM" >MACM</option>
  <option value = "MATH" >MATH</option>
  <option value = "MBB" >MBB</option>
  <option value = "MSE" >MSE</option>
  <option value = "NUSC" >NUSC</option>
  <option value = "ONC" >ONC</option>
  <option value = "PERS" >PERS</option>
  <option value = "PHIL" >PHIL</option>
  <option value = "PHYS" >PHYS</option>
  <option value = "PLCY" >PLCY</option>
  <option value = "POL" >POL</option>
  <option value = "PSYC" >PSYC</option>
  <option value = "PUB" >PUB</option>
  <option value = "REM" >REM</option>
  <option value = "SA" >SA</option>
  <option value = "SAR" >SAR</option>
  <option value = "SCD" >SCD</option>
  <option value = "SCI" >SCI</option>
  <option value = "SPAN" >SPAN</option>
  <option value = "STAT" >STAT</option>
  <option value = "URB" >URB</option>
  <option value = "WL" >WL</option>
  
</select>
<form onSubmit="return process();" id="searchform">
  <input type="submit" value="Search">
</form>

<% @cururl = request.original_url %> 
<% if @cururl.length() >=44 %>
  <% @semester = @cururl.split('/')[4].split('%20')[0] %>
  <% @year = @cururl.split('/')[4].split('%20')[1] %>
  <% @department = @cururl.split('/')[5] %>
<% end %>
<% if !@department.nil? %>
<% @response = HTTParty.get ("http://www.sfu.ca/bin/wcm/course-outlines?#{@year}/#{@semester}/#{@department}") %>
    <table class='search_results'>
      <% @response.each do |val| %>
      <tr>
        <td class = 'dep_cid'><%= "#{@department}" + " " + val["text"] %></td>
        <td class = 'ctitle'><%= val["title"] %></td>
      </tr>
      <% end %>
    </table>
  <% end %>

