@import "bootstrap-sprockets";
@import "bootstrap";



@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
html{
  font-family: NotoSans;
}
.navbar {
  font-size: 20px;
  border:2px solid black;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}

.notice {
  padding-top: 10px;
  font-weight: 800;
}

table, th, td {
  padding: 5px;
  border: 1px solid #d0d0d0;
  border-collapse: collapse;
}

.sched {
  width: 10%;
  text-align: center;
}

.schedlrg {
  width: 18%;
  text-align: center;
}